<p id="notice"><%= notice %></p>

<p>
  <strong>Rank:</strong>
  <%= @review.rank %>
</p>

<p>
  <strong>User:</strong>
  <%= @review.user %>
</p>

<p>
  <strong>Service:</strong>
  <%= @review.service %>
</p>

<p>
  <strong>Service request:</strong>
  <%= @review.service_request %>
</p>

<p>
  <strong>Message:</strong>
  <%= @review.message %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
